<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Image App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}" /> -->
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel="shortcut icon" type="image/png" href="../static/favicon.png">
  <!-- Reset CSS -->
  <!-- <link rel="stylesheet" href="../static/css/reset.css"> -->

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="cover.css" rel="stylesheet"> -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Image App</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">About</a>
      <a class="nav-link" href="https://github.com/IrinaUX/ML_image_recognition">GitHub Repo</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover">
  <img id="image-preview" class="hidden" />
  <p class="lead"></p>
  <h1 class="cover-heading">Image Identifier</h1>
    <p class="lead">
   
  </p>

  <p class="lead">Select an Image and Click on Submit</p>
  
  <input id="file-upload" class="btn btn-lg btn-secondary" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <div id="upload-caption"></div>
    
  
  <p class="lead"></p>
  <div style="margin-bottom: 2rem;">
    <input type="button" value="Submit" class="btn btn-lg btn-secondary" onclick="submitImage();" />
    <input type="button" value="Clear" class="btn btn-lg btn-secondary" onclick="clearImage();" />
  </div>
  <p class="lead"></p>
  <div id="image-box">
    <img id="image-display" />
    <h1 id="pred-result" class="hidden"></h1>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>
</main>


</div>

  <div class="panel">
   <!-- <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" /> -->
    <!-- <input id="file-upload" type="file" class="hidden" accept="image/x-png,image/gif,image/jpeg" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Your label here."> -->
    <!-- <input type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Your label here."></input> -->

  </div>
  


</div>

  <footer class="mastfoot mt-auto">
  <div class="inner">
    <script src="{{ url_for('static',filename='main.js') }}"></script>
  </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
  </body>
  </html>

